certifi==2021.10.8
charset-normalizer==2.0.8
docutils==0.18.1
idna==3.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kivy-garden.xcamera==2020.613
kivy-garden.zbarcam==2020.524
kivymd==0.104.2
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
Pygments==2.10.0
pypiwin32==223
pywin32==302
pyzbar==0.1.8
requests==2.26.0
urllib3==1.26.7
xcamera==2020.613
zbarcam==2020.524
